[2019-05-30 07:53] glennmichaelmejias opened #2 "Assertion purpose."
What is the purpose of this code?
When I set the firstAllowedDate and selectedPeriod is today, it cause an error.
`assert(selectedPeriod.start.isAfter(firstDate) ||
selectedPeriod.start.isAtSameMomentAs(firstDate)),`

[2019-05-30 08:20] glennmichaelmejias opened #3 "Wishlist: able to exclude days, Saturday/Sunday from range."

[2019-05-30 17:31] MariaMelnik commented on #2
Hi,
this assertion says you can't select date before your first date what is allowable to select.
If you have date picker with start date 05/30/2019 20:29:00 you are not allowed to select anything before it (even 05/30/2019 20:28:00).

By the way, where do you have this error?

[2019-05-31 09:05] glennmichaelmejias commented on #2
I haven't selected anything yet. The error comes up during initialization.

I use RangePicker with

`selectedPeriod = DatePeriod(DateTIme.now(),DateTime.now())`
and
`firstDate = DateTime.now()`

[2019-05-31 14:31] MariaMelnik commented on #2
You should save DateTime.now() as a variable and use it when you init firstDate.

You call DateTime.now() 3 times. Every time it returns current time.
In this case firstDate is little bit later (if it goes after selectedPeriod init).
So first date is couple microseconds later start of the selected period. That's why you have assertion.

[2019-06-04 10:19] glennmichaelmejias commented on #2
Thanks. I'm so stupid.

[2019-06-04 17:23] #2 closed

[2019-07-02 23:12] miff opened #4 "How to set monday as a first day of a week?"
I set it `Intl.defaultLocale = 'en_GB';`, but still nothing

[2019-07-03 08:17] MariaMelnik commented on #4
You can specify custom locale in MaterialApp widget (`locale` property).
Otherwise locale from device will be used.
By default only "en_US" locale is supported. If you would like use other you should specify `localizationDelegates` for it in MaterialApp widget. `flutter_localizations` package can help.
Maybe I will add some common locales support by default.

[2019-07-23 05:58] Jennifer8027 opened #5 "If you insert a datepicker in the listview, it will not scroll. how can I fix it?"

[2019-07-23 06:56] Jennifer8027 commented on #5
It was touch area problem. solve.

[2019-07-23 06:56] #5 closed

[2019-08-03 14:13] sajadj313 opened #6 "Support for localization"
I would be glad to see the localization feature for this extension.

[2019-08-29 15:31] misha1024 opened #7 "Range picker ignores `displayedPeriodTitle` style"
No custom `displayedPeriodTitle` styling is applied on range picker.
Looks like issue is around `range_picker.dart` `line: 620`
[code]

Replacing `style` with the following code should be enough
[code]

[2019-08-29 16:28] MariaMelnik commented on #7
Thank you for report!
Will check and fix in next release.

[2019-10-11 08:42] parth22 commented on #4
how can i disable some dates as you disable in your package.
the below function is disable dates in your package i have some dates that i doesn't want to select the user. it will be very help full for me if you guide me for that.
[code]

[2019-10-18 20:56] JustSayBien opened #8 "Wishlist: allow providing custom style/decoration for each day"
For range-pickers it is possible atm to set `selectedPeriodStartDecoration`, `selectedPeriodMiddleDecoration` and `selectedPeriodLastDecoration`.

It would be very nice to have more flexibility here and be able to decorate each day independently (for example via builder-pattern, like  `BoxDecoration Function(DateTime dateTime))`

[2019-10-21 09:33] MariaMelnik commented on #4
@parth22 for now package doesn't provide this functionality.
All dates before start and after end date will be disabled. Otherwise - dates are enabled.
But I have thoughts about add functionality that can help you disable custom dates.

As long as this topic about different case and I answered it I am closing this one. So if you would like you can open new one with feature request.

[2019-10-21 09:33] #4 closed

[2019-10-21 09:35] MariaMelnik commented on #8
@JustSayBien thank you for your feedback. I have this in my todo list for this package as well. Hope I will have time to implement it soon.

[2019-10-26 03:16] MarceloRab opened #9 "Inheritance Suggestion"
Could you leave a generic method for DatePeriod?

I wish I could do that.

[code]

[2019-11-21 09:33] MariaMelnik commented on #3
@glennmichaelmejias hi! Now you can create custom disabled days:
https://pub.dev/packages/flutter_date_pickers

[2019-11-21 09:34] #3 closed

[2019-11-21 09:35] MariaMelnik commented on #8
@JustSayBien Hi! Now you can decorate each day with `eventDecorationBuilder`.
https://pub.dev/packages/flutter_date_pickers

[2019-11-21 09:35] #8 closed

[2019-11-21 09:40] MariaMelnik commented on #7
Fixed in new release:
https://pub.dev/packages/flutter_date_pickers

[2019-11-21 09:40] #7 closed

[2019-12-04 08:23] thought7878 opened #10 "example has errors"
example has errors

Try creating the file referenced by the URI, or Try using a URI for a file that does exist.

![git](https://user-images.githubusercontent.com/5996844/70125757-6bfdb400-16b2-11ea-96c4-e69b599676c5.png)

[2019-12-08 06:08] MariaMelnik commented on #10
@thought7878 you need to do "flutter packages get" from example's folder to get all dependencies. After it example should work.
I am closing this. Feel free to open again in case of any problems here.

[2019-12-08 06:08] #10 closed

[2019-12-31 12:52] sergiomalluelef opened #12 "Listener when sliding DayPicker"
How to hear the slip between months in DatePicker?

[2020-01-04 02:42] Popovma opened #13 "!_debugLocked: is not true"
When using Navigator.pop in the onChanged method to close the calendar widget, the following error is thrown:

'package:flutter/src/widgets/navigator.dart': Failed assertion: line 2330 pos 12: '!_debugLocked': is not true.

If I pick a day in the same month that the calendar is created, I do not get an error. The error only appears if I go backwards or forwards a month and select a date.  I also g

[2020-01-05 11:11] MariaMelnik commented on #13
@Popovma thank you for reporting.
Could you provide minimum running example?
It is important what is your navigation stack before you do Navigator.pop. If you have only one route in this stack and you do Navigator.pop from this route it might cause the problem.

[2020-01-05 11:13] MariaMelnik commented on #12
@sergiomalluelef currently main purpose of this widget is select some dates. So callback for changing month is not provided yet.
What is your case? If it is look like common case I can add it to the new release.

[2020-01-05 14:22] Popovma commented on #13
Hi Maria,

I was able to duplicate the problem by using it in the simple flutter demo project.  I have copied the code below.

Thank you for your help!

import 'package:flutter/material.dart';
import 'package:flutter_date_pickers/flutter_date_pickers.dart' as dp;

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Ma

[2020-01-07 10:32] MariaMelnik commented on #13
@Popovma it is general issue, not related with date pickers. You can use any button instead date picker and get same message.

Reason is: you are trying to call Navigator.pop (close date picker) while other Navigator.pop (close bottom sheet) might not finished yet.

More info and fixes you can find in this [stackoverflow question](https://stackoverflow.com/questions/55618717/error-thrown-on-naviga

[2020-01-08 19:37] catapulta-app opened #14 "SOLVED: 'previousMonthTooltip' was called on null."
**SOLVED:**

The problem was that the dependency only works with a MaterialApp and I was using a CupertinoApp :(

I'll leave this Issue here just in case someone else faces the problem.

-------------------------
Hi!

I am facing the following error when I try to draw a RangePicker:

Exception caught by widgets library
The following NoSuchMethodError was thrown building DayBasedChangablePicker<Dat

[2020-01-08 20:22] #14 closed

[2020-01-12 00:59] arunavdev89 opened #15 "Range picker allows picking date ranges between disabled dates"
I have the `RangePicker` widget created using the constructor as follows:

[code]

It allows me to pick a range where the start of the range is before a block of dates that is not selectable and end of the range after the same block of not selectable date.

See below:

<img width="275" alt="Screen Shot 2020-01-11 at 7 58 51 PM" src="https://user-images.githubusercontent.com/5005018/72212597-d45b64

[2020-01-16 14:16] MariaMelnik commented on #15
@arunavdev89 thank you for report! It will be fixed soon in next release.

[2020-02-22 08:39] x10geeky opened #17 "How to adjust height on container sizes"

[2020-02-22 12:01] #17 closed

[2020-03-11 09:14] Nieruht commented on #15
How can i get Year Picker !Please let me know ! Thank You Brother .

[2020-04-02 09:02] #13 closed

[2020-04-26 02:19] PlugFox opened #18 "Create online example"
Create online web sample at github pages or firebase

[2020-05-18 00:02] FoxPB commented on #6
there is already some way to change the name of the months to portuguese for example?

[2020-05-18 18:06] MariaMelnik commented on #6
Hi,
this package use intl package for localization. So you can provide supported locales to you MaterialApp and everything should work.

To provide supported locales you can use flutter_localizations (it is [official way](https://flutter.dev/docs/development/accessibility-and-localization/internationalization))
To use it add to your project's pubspec.yaml
[code]

After it you can define delegates

[2020-05-31 15:17] intkhabahmed opened #19 "Add more customizations"
It would be better if you could allow more customization like the arrow style of the header, it's background color, color of the whole calendar, style for middleSelectedDate in case of range picker etc.

[2020-05-31 17:10] MariaMelnik commented on #19
@intkhabahmed Hi,
you can already customize styles for middleSelectedDate  in case of range picker (look at the example). If you need another option for middle selected date customization could you describe them?

Also to customize color of the whole calendar you can use Container widget like this:
[code]

I will add more customization for header and arrow icons in feature. Thanks for your report.

[2020-05-31 17:15] intkhabahmed commented on #19
@MariaMelnik The customization of middleDate is limited to BoxDecoration, but I want to customize its textStyle as well

[2020-06-04 09:59] ultralcc commented on #19
@MariaMelnik
Yeah thanks for the create this widget .
This date picker is awesome but I really need to customize the arrows and the header (days of week) text style to use it.
Hope that 1.0 version will come soon~

[2020-06-04 20:54] MariaMelnik commented on #19
@intkhabahmed @ultralcc I will add more customization. Stay tuned.

I keep this issue to customization requests.

[2020-06-11 08:29] fgrenot opened #21 "Can't select end date on other week"
Hello,

on the new version (0.1.0), I  can't select an end date on an other week.
Exemple:
I select 02/15/2020 for first date and when I want to select 06/22/2020 for last date I can't.

[2020-06-11 14:13] MariaMelnik commented on #21
@fgrenot could you post code what you used to create date picker?

If you use RangePicker and there is any disable date between first date and last date - range won't be selected. You will have UnselectablePeriodException with disabled dates in range you try to select.

[2020-06-12 07:03] fgrenot commented on #21
Yes, I use RangePicker with disable date on the week-end and public holidays.
Can I block the UnsekectablePeriodException ? Because with the version 0.0.6 I haven't this problem.

[2020-06-12 19:24] MariaMelnik commented on #15
Fixed in 0.1.0

[2020-06-12 19:24] #15 closed

[2020-06-12 19:26] MariaMelnik commented on #21
@fgrenot 0.0.6 has [issue](Range picker allows picking date ranges between disabled dates #15). It is fixed now so there is no ability to select range/week with disabled dates.

How would you like this to work? Might be I will add more customization here in future.

[2020-06-14 09:05] droidzone opened #22 "Cannot select any date."
import 'package:flutter/material.dart';
    import 'package:flutter_date_pickers/flutter_date_pickers.dart' as pickerlib;

    Future<void> _showMyDialog() async {
        return showDialog<void>(
        context: context,
        barrierDismissible: false, // user must tap button!
        builder: (BuildContext context) {
            return AlertDialog(
            title: Text('Select a Date'),

[2020-06-16 20:37] MariaMelnik commented on #22
@droidzone pickers don't handle selection itself. You need to set selectedDate/selectedPeriod to picker outside to change it.

You have onChanged where you handle selection but it doesn't change any state inside picker. You should keep selectionDate somewhere outside picker and use setState or another option to change picker's state.

You can look at the examples to get idea how it can be done in

[2020-06-19 15:24] ArchannaDevi88 opened #23 "Calendar prevents ListView from scrolling"
Even though the calendar is horizontally scrollable and not vertical. The problem with this is, inside a ListView, it will prevent the ListView from vertical scrolling, so I need to scroll outside the Calendar to scroll the ListView instead of the Calendar.If i try to scroll by holding calendar it gets struck.

[2020-06-20 09:19] MariaMelnik commented on #23
@ArchannaDevi88 to 0.1.1 added scrollPhysics property to the DatePickerLayoutSettings.
So you can set it to NeverScrollableScrollPhysics() and it will prevent date pickers to scroll.

Change you dependency to
[code]

[2020-06-21 04:23] #22 closed

[2020-06-21 10:42] ollydixon opened #24 "Dates are missing"
No July the 31st 1992

<img width="281" alt="Screenshot 2020-06-21 at 12 41 58" src="https://user-images.githubusercontent.com/6940726/85222591-ad3e8280-b3bc-11ea-8c24-09317e0cc8c8.png">

[2020-06-21 12:52] MariaMelnik commented on #24
@ollydixon it is definitely not a picker from flutter_date_pickers package.

If you will use pickers from this package everything will be correct.
<img width="356" alt="Screenshot 2020-06-21 at 15 50 55" src="https://user-images.githubusercontent.com/20188655/85225055-221eb600-b3d7-11ea-86ed-f22e5f699824.png">

[2020-06-21 12:52] #24 closed

[2020-06-21 12:56] ollydixon commented on #24
@MariaMelnik sorry! My bad, never done that before embarrassing :-D

[2020-06-22 06:28] ArchannaDevi88 commented on #23
@MariaMelnik , Thank you so much .. its working fine with latest release..

[2020-06-22 08:02] #23 closed

[2020-06-22 21:32] MariaMelnik commented on #24
@ollydixon no problem :)

[2020-06-22 22:04] MariaMelnik commented on #19
@intkhabahmed @ultralcc check 0.1.3 version.
Added customizations for:
- selected period text styles
[code]

- previous and next page icons
[code]

- day headers styles. Optional builder depends on weekday or one style for all weekdays
[code]

<img width="340" alt="Screenshot 2020-06-23 at 00 56 22" src="https://user-images.githubusercontent.com/20188655/85339647-4371c600-b4ed-11ea-9967-3000ed49d4

[2020-06-23 03:40] intkhabahmed commented on #19
@MariaMelnik Thanks, will check it

[2020-06-23 03:51] ultralcc commented on #19
@MariaMelnik Thank you so mush.

[2020-07-02 08:12] SogoGolf opened #25 "set the first day of week"
hi there, is it possible to set the first day of the week ? for example we need to set the first day as Saturday. appreciate if you can let me know.

[2020-07-02 10:21] heshesh2010 opened #26 "RangePicker now showing when button pressed"
Container(
                      height: 40,
                      width: MediaQuery.of(context).size.width - 250,
                      child: FlatButton(
                        child: Text(
                          S.of(context).booking,
                          style: TextStyle(color: Theme.of(context).hintColor),
                        ),
                        color: Theme.of(context).ac

[2020-07-02 11:10] MariaMelnik commented on #26
@heshesh2010 onPressed for FlatButton is a callback. It means this function will be called when user taps on that FlatButton.
So when user taps on your FlatButton ```styles`` will be created. And after it ```RangePicker``` constructor will be called. But created RangePicker is not used in future.

If you would like to show dialog (for example) you can use [showDialog](https://api.flutter.dev/flutt

[2020-07-02 11:10] #26 closed

[2020-07-02 12:49] MariaMelnik commented on #25
@SogoGolf hi,
for now first day of the week is related with locale. So in USA it will be Sunday, in Russia it will be Monday.

Could you describe use case where you need custom first day of the week?

[2020-07-02 13:05] SogoGolf commented on #25
in the app golfers compete in weekly competitions that start on a Saturday and end on Friday. That is why we need Saturday as the first day of each week in the date grid.

[2020-07-02 16:33] MariaMelnik commented on #25
@SogoGolf use new version 0.1.4. I added ```int firstDayOfWeekIndex``` to DatePickerStyles class. Set 6 if you need to set first day as Saturday.

<img width="370" alt="Screenshot 2020-07-02 at 19 29 20" src="https://user-images.githubusercontent.com/20188655/86386610-ae17c400-bc9a-11ea-9139-b1e937603932.png">

I am closing this issue. Don't hesitate to reopen it if you have questions about this p

[2020-07-02 16:33] #25 closed

[2020-07-03 00:29] SogoGolf commented on #25
brilliant many thanks. we'll look to integrate this into our app will let you know if any questions along the way. thanks again.

[2020-07-05 11:56] erug-the-creator opened #27 "Please add the ability to start the week with monday or so!!!"

[2020-07-06 11:25] MariaMelnik commented on #27
@erug-the-creator you can customize first day of the week in 0.1.4 version.
Use ```firstDayOfWeekIndex``` property for ```DatePickerStyles``` class. Set ```1``` if you need to set first day as Monday.

Note, that by default first day of the week is calculated according the locale.

[2020-07-07 12:38] TatsuUkraine commented on #12
this feature will be quite useful. For instance - as I understood calendar can't be infinite, at least start and end dates are required. With this listener, developer can update start/end date based on currently selected month like startDate = selectedMonth - 1, endDate = selectedMonth + 1. and make date picker basically infinite

[2020-07-08 13:42] MariaMelnik commented on #12
@TatsuUkraine you are right calendar can't be infinite but you can set lastDate and firstDate as you wish like first date 01.01.1900 and end date like 01.01.2200. It will give feeling of the inifine calendar.

But you option is valid as well. Might be I will added in future releases.

[2020-07-11 22:13] #27 closed

[2020-07-24 18:29] 1g0rrr opened #28 "Show dates from other months"
How about showing dates from other months when we choose a week? Because when I select a week, I suppose to see full line in calendar selected with all 7 days of this week.

[2020-07-27 04:07] wh1990xiao2005 opened #29 "[Bug] Crashed when App was init from CupertinoApp."
Crashed when App was init from CupertinoApp.
Please refer the code below:

[code]

Crash stack info below:

The getter 'firstDayOfWeekIndex' was called on null.
Receiver: null
Tried calling: firstDayOfWeekIndex

  WeekPicker file:///Users/wenhan/AndroidStudioProjects/flutter_hello/lib/main.dart:56:24
When the exception was thrown, this was the stack:
#0      Object.noSuchMethod (dart:core-patch/ob

[2020-07-27 14:15] MariaMelnik commented on #28
@1g0rrr hi, I suppose it is useful feature to show days from previous month. Will add it in next releases.
Thanks for pointing it!

[2020-07-28 21:13] MariaMelnik commented on #29
@wh1990xiao2005 thank you for pointing that out. I fixed it in new release.
You can check if you change your dependency to:
[code]

Don't hesitate to open this issue if you will find bug there.

[2020-07-28 21:13] #29 closed

[2020-07-29 06:13] rsaf commented on #19
Can we have a customer header which is widget, so we can be more flexible and show anything in the header? Like adding a confirm and cancel button, or adding some more text or image on the header. for this flexibility, It would be convenient to have a header builder function, that can take any widget.  @MariaMelnik

[2020-07-29 06:15] rsaf commented on #19
<img width="292" alt="Screen Shot 2020-07-29 at 12 51 08 AM" src="https://user-images.githubusercontent.com/7962323/88763513-d74a4800-d1a5-11ea-8c8b-c0ddd1bab6da.png">

For Designs like this.

[2020-07-29 20:07] 1g0rrr commented on #28
Thanks, Maria! Would love to use it )

[2020-08-11 14:56] magpiedigital opened #30 "Support for year pickers"
Thanks for the awesome package, it's exactly what I needed.

The only extra I'd like is YearPicker.

At the moment I'm using the _YearPicker from flutter's CalendarDatePicker, and it mostly works fine but the styling is slightly inconsistent. Here's the code, with some minor changes I made.

[code]

[2020-08-12 12:05] MariaMelnik commented on #30
@magpiedigital thank you for your suggestion.
I had thoughts about adding year picker here but for previous flutter version YearPicker was available to use.
I think I will add YearPicker with options to some customization in future.

[2020-08-17 16:37] vysakhvasanth opened #31 "Ability to highlight all selected days in DayPicker"
I am fairly new to flutter and trying to build an app where I need the dates picked to be highlighted in the DayPicker widget. Is this something hard to implement?

The idea is like the image below.
![image](https://user-images.githubusercontent.com/6330619/90420685-323dd380-e0b0-11ea-85c9-67da7fa0e016.png)

So in this image 18, 21, 24 were all selected previously. I was thinking of some property

[2020-08-21 01:50] ReniDelonzek opened #32 "Clear selection RangePicker"
When I disable some days and the user clicks on a day where both the previous and the next are disabled, he gets stuck, as he cannot select any range or deselect the day, a possible solution for this would be a way to clear the selection (selectedPeriod can be null for example)

![Screenshot_1597974583](https://user-images.githubusercontent.com/16869726/90843229-8dcdc280-e337-11ea-8b45-5884764b403

[2020-08-24 22:18] MariaMelnik commented on #12
@TatsuUkraine @sergiomalluelef in new **0.1.7** version every day based pickers (day, week and range pickers) have `onMonthChange` callback. You can use it to listen month changes and handle it according to your logic.

I am closing issue. Don't hesitate to reopen it if you will find any bugs.

[2020-08-24 22:18] #12 closed

[2020-08-24 22:24] MariaMelnik commented on #32
@ReniDelonzek while I am thinking about best desition for such kind of situation you can use `RangePicker.onSelectionError` callback. It provides information about error that occurred during user's selection. So if callback is called you can manually set `RangePicker.selectedPeriod` to null there and call `setState` after change.

[2020-08-24 22:30] MariaMelnik commented on #9
@MarceloRab I think you don't need to extend DatePeriod class to get custom string for every day from it.
You can handle this in outside DatePeriod in class where you need to generate such kind of strings.

I am closing this issue. If you think I don't understand you correct and it is useful feature please reopen it and provide little bit more information why it should be done this way.

[2020-08-24 22:30] #9 closed

[2020-08-24 22:31] #6 closed

[2020-08-31 14:09] MariaMelnik commented on #21
@fgrenot now (from version 0.1.7) ```UnselectablePeriodError``` contains information about period which can not be selected. You can use this information to change seletected day/range with setState (or some state management solution if you use any).

Don't hesitate to reopen this issue or create new if issue will occurred.

[2020-08-31 14:09] #21 closed

[2020-09-21 12:44] cagricibuk commented on #8
How to make different styles for difrferent events

[2020-09-21 13:49] cagricibuk opened #36 "How to redraw calendar?"
When i do some change dynamicly  how can i refresh calendar ?

[2020-09-21 15:05] MariaMelnik commented on #36
@cagricibuk simplest way is call setState() from State class. Other options are depend on state management approach you use. Look at the different state management solution community already have and choose which one is right for you.

[2020-09-21 15:05] #36 closed

[2020-09-21 17:25] MariaMelnik commented on #8
@cagricibuk you can use eventDecorationBuilder that is accessible for DayPicker, WeekPicker and RangePicker to do so.

Also you can read README file to find out what else you can customize in date pickers.

[2020-09-22 11:35] askNilesh opened #38 "Support to select year"
is there any way that we can let users select or change  year in RangePicker like below image?

![image](https://user-images.githubusercontent.com/30828060/93876989-59ae3e80-fcf5-11ea-890e-db58a28d42db.png)

[2020-10-03 11:10] MariaMelnik commented on #38
@askNilesh currently there is no such functionality. I might be add it in future.

[2020-10-05 14:54] carlosrjr opened #42 "New feature"
Hey!
Can you create any implementation for this feature? that's possible?

![image](https://user-images.githubusercontent.com/15968341/95094075-dda5f480-06ff-11eb-8789-4cde11211119.png)

[2020-10-06 07:03] xlamn commented on #42
you can take a look at this package: https://github.com/dylanwuzh/flutter-cupertino-date-picker

[2020-10-06 10:56] MariaMelnik commented on #42
@carlosrjr as @xlamn said you can check [packages](https://pub.dev/) which provide cupertino picker.

[2020-10-06 10:56] #42 closed

[2020-10-15 09:59] xlamn opened #44 "Select time change date"
Hi,

In Europe we have time changes (one in october, one in march). If I want to select the 28th of march in the RangePicker, it will automatically generate a Period between the 28th and the 29th of march because the endPeriod is 2021-03-29 00:59.59.999. Can you please fix this? My timezone is (GMT +2).

[2020-10-15 11:14] MariaMelnik commented on #44
@xlamn thanks for the report. Will check and fix asap.

[2020-10-15 19:48] jccd1996 opened #45 "Can i disable a group of dates?"
Hello, in this moment, i only can disable one date with selectableDayPredicate, maybe you have some example with disable a group of dates? Thank you!

[2020-10-16 21:28] MariaMelnik commented on #45
@jccd1996 you also can disable many dates with selectableDayPredicate. You should define function which will return true of false. If day should be disabled this function should return false. Otherwise - returns true.

In example for DayPicker you can find [example](https://github.com/MariaMelnik/flutter_date_pickers/blob/master/example/lib/date_pickers_widgets/day_picker_page.dart#L156) of such f

[2020-10-16 21:28] #45 closed

[2020-10-17 00:34] jccd1996 commented on #32
If u set RangePicker.selectedPeriod = null, the app crashes, other solution for this? i have the same problem :S

[2020-10-17 08:46] MariaMelnik commented on #32
@jccd1996 ```RangePicker``` has ```onSelectionError``` property. It provides information about period user would like to select but can't because of disabled dates. You can use this information to change selection something like this:

[code]

Pass this function to RangePicker constructor (look at **onSelectionError**).
[code]

[2020-10-20 02:47] jccd1996 commented on #32
@MariaMelnik  Thank you so much!, this solution its exactly that was i looking for!

[2020-10-25 08:53] MariaMelnik commented on #44
@xlamn could you provide simple example?
I just checked with Finland locale which is GMT + 2 and wasn't able to reproduce it.
<img width="389" alt="Screenshot 2020-10-25 at 11 51 37" src="https://user-images.githubusercontent.com/20188655/97102689-ac926180-16b8-11eb-9bcf-7b842425894e.png">

[2020-10-26 08:19] xlamn commented on #44
Sure. I think because yesterday was the day where the time change happened it wasn't that ideal to reproduce the problem. Maybe that's why you couldn't produce it. The problem now appears in the GMT+1 time zone for me.

![Screenshot_20201026-091403](https://user-images.githubusercontent.com/32935491/97148722-e5d7d980-176b-11eb-87f7-4de43be00acc.png)
![Screenshot_20201026-091423](https://user-image

[2020-10-26 10:31] MariaMelnik commented on #44
@xlamn please check 0.1.8 version. It should be fixed there.
![photo5240064133997637729](https://user-images.githubusercontent.com/20188655/97161815-5a703f80-178f-11eb-8fee-508fc99fca6f.jpg)
![photo5240064133997637730](https://user-images.githubusercontent.com/20188655/97161930-85f32a00-178f-11eb-949a-676a1f36736b.jpg)

[2020-10-26 11:01] xlamn commented on #44
jup, thanks for the quick reaction!

[2020-10-26 11:01] #44 closed

[2020-10-28 22:14] JohnPinto opened #46 "Unable to select today if selecting dates from today on"
Hi, I'm currently having a problem with the RangePicker widget, I want to be able to select days from today on, but if I put the `firstDate` for today and select today's date I get the exception:

`'package:flutter_date_pickers/src/range_picker.dart': Failed assertion: line 35 pos 16: '!selectedPeriod.start.isBefore(firstDate)': is not true.`

Love your package, keep up the good work!

[2020-10-29 15:08] JohnPinto commented on #46
Not exactly sure what happened, but the problem is gone.

Sorry for taking your time.

[2020-10-29 15:08] #46 closed

[2020-12-02 05:55] sumitrvi opened #47 "_positions.isNotEmpty': ScrollController not attached to any scroll views."
[ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: 'package:flutter/src/widgets/scroll_controller.dart': Failed assertion: line 112 pos 12: '_positions.isNotEmpty': ScrollController not attached to any scroll views.

[2020-12-03 22:44] MariaMelnik commented on #47
@sumitrvi could you provide example with this error?
It is hard to help you without information.

[2020-12-07 16:27] rikiyanuar commented on #47
I got same problem

this is error log

I/flutter (19220): The following UnsupportedError was thrown building DayBasedChangeablePicker<dynamic>(dependencies:
I/flutter (19220): [_LocalizationsScope-[GlobalKey#ad460], _InheritedTheme, Directionality], state:
I/flutter (19220): _DayBasedChangeablePickerState<dynamic>#6268a):
I/flutter (19220): Unsupported operation: Cannot set value in unmodifiable M

[2020-12-10 16:34] MariaMelnik commented on #47
@rikiyanuar according to stacktrace it is not the same error as @sumitrvi has.
Why do you think it is the same?

I just run example you provided like:
[code]

and everything works as expected.
Could you provide minimum executable code snippet (that I can run without changes) with this issue?
If issue is not the same as @sumitrvi has please open separate issue for your case.

[2020-12-13 06:10] fida1989 opened #48 "Stop automatic month change on day deselection"
Hello,
I am facing issue while deselecting dates in `DayPicker.multi(..)` widget. When there is only 1 selected date in current month view if I deselect that date current calendar view automatically shifts to next or previous month view. How to disable this behavior? Any kind of suggestions will be highly appreciated.

**Scenario:**
<img src="https://user-images.githubusercontent.com/2511367/10200

[2020-12-13 13:40] MariaMelnik commented on #48
@fida1989 could you provide code sample?

Also you can check example for multi picker in examples folder days_picker_page.dart? Are you be able to reproduce same error with this example?

[2020-12-13 14:17] fida1989 commented on #48
Following is the code snippet being used:

![Screenshot at 2020-12-13 20-11-33](https://user-images.githubusercontent.com/2511367/102014323-836c8400-3d7f-11eb-8976-3c0a3da28ff1.png)

Haven't yet checked the examples. Will take a look.

[2020-12-13 15:31] HubnerJonathan opened #49 "[RangePicker] Link between Circular BoxShape Start/End period and MiddlePeriod"
First of all amazing package !

I'm encoutering a small problem with the BoxDecoration of the RangePicker. If I use a circular BoxShape for the selectedPeriod(Start/End)Decoration the background of the container keep it's white color leaving me with an ugly space between the selectedPeriod(Start/End) and the middlePeriod decoration.

I'd like to fill half of the container background with the same

[2020-12-13 16:07] fida1989 commented on #48
I temporarily solved the issue by creating a `bool` variable in `DayBasedChangeablePickerPresenter` which disables automatic month changes after 1st build.

[2020-12-13 16:24] HubnerJonathan commented on #19
Hey,

I can't find a way to change the TextStyle of the prevMonthEnd and nextMonthStart after setting them to true in the DatePickerLayoutSettings.

Am I missing something or is that not in the package ? If not it would be awesome to add it :) !
Amazing package anyway !!

[2020-12-13 18:35] MariaMelnik commented on #49
@HubnerJonathan thanks for using package!

Currently only way you can customize boxes itself (not text inside it) is using BoxDecoration. So doing something like on the picture is not so simple. I can suggest next way:

1. Add circle image of the target color to the assets. In this case it will be orange circle with transparent background. Like this:
<img width="100" alt="bg" src="https://user-ima

[2020-12-13 21:01] MariaMelnik commented on #19
@HubnerJonathan do you want to be able change styles for dates of the previous and next month independently from dates of the shown month?

Now they have styles according to the selection and given DatePickerStyles. Could you provide your case where separate styles for end of the prev month and start of the next month can be useful?

[2020-12-13 21:41] HubnerJonathan commented on #49
This is a super smart work around !
I'm gonna work on that a bit later and keep you posted.

Thanks a lot :) !

[2020-12-13 21:46] HubnerJonathan commented on #19
@MariaMelnik Thanks for your reactivity.

My use case in UX related. Styling prev / end month days in a different color let the user differentiate in a glance what's the scope of the current month. But he can still get some information about the previous / next one ; I find that much clearer and sexy than empty block for the prev / next month or the same color where it can be quite confusing.

[2020-12-13 22:37] HubnerJonathan commented on #49
@MariaMelnik It's working thx !

[2020-12-14 12:47] MariaMelnik commented on #49
@HubnerJonathan great news!
I am closing this issue. Don't hesitate to reopen it you will need to.

[2020-12-14 12:47] #49 closed

[2020-12-19 19:35] #48 closed

[2021-01-25 02:57] rikiyanuar commented on #47
@MariaMelnik Do you think this message is different because "line 108 pos 12" from me and "line 112 pos 12" from @sumitrvi ?

[2021-02-18 19:27] MungaraJay opened #50 "How to remove the bottom space from range picker?"
I'm using following code to set date range picker in flutter. But, How can I remove range picker bottom margin.

[code]

Thanks

[2021-02-19 14:40] MariaMelnik commented on #50
@MungaraJay
If you can provide a picture it will help.

I can assume you have something like this:
<img width="388" alt="Screenshot 2021-02-19 at 17 32 51" src="https://user-images.githubusercontent.com/20188655/108517493-8bddbf80-72d8-11eb-8009-f00544db80b1.png">

and want to have something like this:
<img width="390" alt="Screenshot 2021-02-19 at 17 32 35" src="https://user-images.githubusercont

[2021-02-23 18:33] MariaMelnik commented on #50
@MungaraJay I am closing this issue due to no answer. Don't hesitate to reopen it if you would like to continue.

[2021-02-23 18:33] #50 closed

[2021-02-24 19:22] sumitrvi commented on #47
hey anyone got the solution please help still i'm facing same issue

[2021-02-25 08:37] MariaMelnik commented on #47
@sumitrvi could you provide example with this error?
It is hard to help you without information.

[2021-02-25 08:41] MariaMelnik commented on #47
seems like you sent stacktrace from two errors and I missed second one. Have you checked my example? Does it work for you?

[2021-02-25 09:05] sumitrvi commented on #47
Hey I got this error in randome case

════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following UnsupportedError was thrown building DayBasedChangeablePicker<DatePeriod>(dependencies: [_InheritedTheme, _LocalizationsScope-[GlobalKey#5e309], Directionality], state: _DayBasedChangeablePickerState<DatePeriod>#abf89):
Unsupported operation: Cann

[2021-02-25 09:14] sumitrvi commented on #47
@MariaMelnik please help In Single app i've used this picker calendar at two places.

[2021-02-25 12:08] MariaMelnik commented on #47
@sumitrvi unfortunately I don't know what are you doing without your example.
Could you provide minimum reproducible code example _(not only error, but code)_ which cause this error?
It is hard to help you without information

[2021-02-25 12:14] sumitrvi commented on #47
Also i'm using flutter_calendar_carousel calender to show events

[2021-02-25 14:17] MariaMelnik commented on #47
@sumitrvi it is good.
But I am asking for minimal reproducible example **_(code)_** that causes error you sent.
It is hard to help you without information.

[2021-03-01 14:21] sumitrvi commented on #47
Hi @MariaMelnik I'm sharing code files with you please check both file.
Thanks for the help and reply
https://github.com/sumitrvi/Demo_project

[2021-03-02 04:36] sumitrvi commented on #47
I don't why it's in encrypted format when I was added these files showing
perfect. But ok now please check again i'm edit code

On Tue, Mar 2, 2021 at 2:49 AM MariaMelnik <notifications@github.com> wrote:

--
*Thanks & Regards*
*Sumit Kumawat*
*Mobile: +91 7014523923,**+91 8796485577*

[2021-03-04 09:40] ollydixon opened #52 "Flutter 2.0 Support"
You need to update the library, the flutter guys forgot to use deprecated flag on some fields.

"date_picker.dart:103:34: Error: No named parameter with the name 'shadowThemeOnly'."

[2021-03-05 22:38] MariaMelnik commented on #52
@ollydixon thank you for the opening this issue. I am currently doing this. Hope will be done this weekend.

[2021-03-07 22:05] MariaMelnik commented on #52
@ollydixon you can use 0.2.0 version now:
```flutter_date_pickers: ^0.2.0```

[2021-03-07 22:05] #52 closed

[2021-03-16 18:44] GiovannyLucas opened #54 "Internationalization to pt-BR failure"
When I use the language **pt** (portuguese) in my app, the **internationalization** joins the preposition "de" (like "of", in english), with month name. Thus, it seems that the month has a strange name, like "dejan" ("ofjun", example in english).

The example to understand follows below:

The month names in english, correctly without preposition:
![image](https://user-images.githubusercontent.com/

[2021-03-16 19:18] MariaMelnik commented on #54
@GiovannyLucas thank you for posting issue.
It is fixed for 0.2.1 version
You can use it:
[code]

[2021-03-16 19:49] GiovannyLucas commented on #54
Wow! Perfect.

Thank you so much, I checked and all is right!

[2021-03-16 19:49] #54 closed

[2021-03-31 03:41] metajet98 opened #56 "Missing month in RangePicker"
- Flutter 1.22.5
- flutter_date_pickers: 0.1.10

- Issue on RangePicker
When scroll from 03/2021 to 04/2021, the calendar suddenly scroll to 05/2021, not show 04/2021
Press icon Previous Month in header, from 05/2021, the calendar cannot back to 04/2021
![report](https://user-images.githubusercontent.com/22596565/113087365-aaa37000-920d-11eb-8e91-9319694392ba.gif)

[2021-03-31 03:59] metajet98 commented on #56
At version 0.1.5 it's ok! I think the bug happen after that version

[2021-03-31 09:01] seenewmax commented on #56
Came to see if somebody posted the issue. Same problem on DayPicker.single.

[2021-04-01 06:20] seenewmax commented on #56
@MariaMelnik Thank you for your reply and thank you for this great package.
I checked the example and found the solution.

_firstDate = DateTime.now() causes the problem.
_firstDate = DateTime with "subtract(Duration(days: N))" works fine. (N must be at least 1)

If you put _firstDate = DateTime(2021, 3, 31) or DateTime.now().subtract(Duration(days: 0))
you will see it not working.

[2021-04-05 02:52] egamerlz opened #57 "Next month tooltip display issue"
In the source file 'day_based_changeable_picker_presenter.dart', the next month tooltip use the wrong variate [nextMonth], which is should to be [nextMonthStr]
-----------------------------------------------------------------------------------------------
    String? prevTooltip = isFirstMonth
        ? null
        : "${localizations.previousMonthTooltip} $prevMonthStr";

    String? nextTooltip

[2021-04-05 18:13] MariaMelnik commented on #57
@egamerlz thank you for posting this issue!
Fixed in 0.2.3 version.

[2021-04-05 18:13] #57 closed

[2021-04-09 12:18] despie commented on #19
Is there a way to change day headers styles also for `DayPicker` type?
Seems like `dayHeaderStyle` is only available for `RangePicker` and `WeekPicker`.

[2021-04-11 20:11] MariaMelnik commented on #19
@despie thank you for question! It was issue. It is fixed in "0.2.3+1" version.
Please update dependency:
[code]

[2021-04-22 09:07] AlexQuidditch opened #58 "Multiple ranges in view"
Hi! Thank you for yours amazing work!

I want use this packages in my apps, but I need some extra feature.

So how can I get behavior as in [this](https://vuetifyjs.com/en/components/calendars/#click) example?
It is possible? Any ideas?

[2021-04-24 20:20] MariaMelnik commented on #58
@AlexQuidditch hi,
this package is more like picker (pick date or dates) but your example is looks like more viewer (show what is happening for days).
This functionality is definitely good to have but I don't have plans to add something like this in nearest feature.
If you would like to contribute and add something like this it will be more than appreciated =)

[2021-04-30 18:04] zatovagul opened #59 "Customization of LIB"
Excuse me, can I customize text in header, to set Week Days name in different languages? Can I set Months name in different languages? Can I change height of Month Item in Month Picker, because when I put background color, it is too big.

https://ibb.co/6rnqgny
https://ibb.co/FHsZ621
Screenshots

[2021-04-30 22:41] agutf commented on #59
You can change month names to different languages by setting the locales of your MaterialApp. For example, in my case to set names to spanish:

localizationsDelegates: GlobalMaterialLocalizations.delegates,
supportedLocales: [
    const Locale('es', 'ES'),
    // ...
]

[2021-04-30 22:44] agutf opened #60 "Select two or more months"
First of all, thank you guys for this incredible widget. I just started using it and is really useful.

I am developing an app in which users should be able to select one or more months. Is there any way I can achieve this? I think RangePicker is only for days, and not for months, right?

Thanks in advance.

[2021-05-01 07:46] zatovagul commented on #59
Thanks it helped

[2021-05-03 16:26] MariaMelnik commented on #60
@agutf currently it is not supported.
Will think about add this feature. Thank you for posting!

[2021-05-06 11:30] seenewmax opened #61 "Enable horizontal scroll and disable vertical scroll"
https://user-images.githubusercontent.com/37838834/117291503-0ebef100-aeaa-11eb-9bd4-e3498972d195.mov

Vertical scroll inside the calendar prevents vertical scroll for the screen.

Wonder if there is any way to disable vertical scroll and enable only horizontal scroll.

[2021-05-06 11:38] seenewmax commented on #61
https://github.com/MariaMelnik/flutter_date_pickers/issues/23

:D

[2021-05-06 11:38] #61 closed

[2021-05-06 20:28] MariaMelnik commented on #56
@seenewmax @metajet98 it is fixed in 0.2.4
Thank you for posting this issue!

[2021-05-06 20:28] #56 closed

[2021-05-06 20:30] MariaMelnik commented on #59
@zatovagul currently it is not supported to change height of the month cell. But I will definitely add it. Thank you for posting this issue!

[2021-05-28 09:50] zs-dima opened #62 "Decorations for some disabled dates"
It could be nice to be able to add decorations for some disabled dates.
For example for booking we want to display weekend and holidays in red color but dates before firstDate and after lastDate in grey.

[2021-05-29 08:44] PlugFox commented on #18
@MariaMelnik any status updates?

[2021-05-29 08:45] PlugFox commented on #18
If you start a project for firebase, I will set up the pipeline to automatically publish the example

[2021-07-16 16:36] ramsmart-inno opened #63 "How to change the header style? of month"

[2021-07-16 17:47] MariaMelnik commented on #63
Hi,
you can customize it with ```DatePickerStyles.displayedPeriodTitle```. For example to make header red:
[code]

[2021-07-16 17:47] #63 closed

[2021-07-23 17:59] #47 closed

[2021-09-27 07:27] RapegnoAndrea opened #64 "Ability to change the number of characters for the names of the week"

[2021-09-27 08:09] zs-dima opened #65 "[BUG] [iOS] all dates are disabled"
All dates are disabled on iOS.
Calendar works well with Android however.

iOS
![2021-09-27_11-06-39](https://user-images.githubusercontent.com/25195453/134869128-3de84f1b-cdc6-4105-82d3-317a63490571.png)
![2021-09-27_11-06-18](https://user-images.githubusercontent.com/25195453/134869129-517e9b8c-6672-451a-9907-adde2399de9f.png)

Android
![2021-09-27_11-07-21](https://user-images.githubusercontent.

[2021-09-27 19:04] MariaMelnik commented on #64
@RapegnoAndrea could you please give more details?

[2021-09-27 19:47] MariaMelnik commented on #65
@zs-dima I chceked example with flutter 2.5.1 and it works for me (I used iPhone 12 Pro max simulator with ios 14.5)

<img width="411" alt="Screenshot 2021-09-27 at 22 46 44" src="https://user-images.githubusercontent.com/20188655/134974994-2564aaf5-52ab-4bf3-8a01-ad54e9ecde88.png">
Could you provide minimal example to reproduce issue?

[2021-09-28 06:48] RapegnoAndrea commented on #64
@MariaMelnik yes of course, I was referring to the possibility of using for example "Mon" for Monday instead of "M" and so also for the other days

[2021-09-30 12:19] itsdani121 opened #66 "monthpicker not working"
i want to select month but it give me error

                   Widget buildWeekDatePicker(DateTime selectedDate, DateTime firstAllowedDate,
      DateTime lastAllowedDate, ValueChanged<DatePeriod> onNewSelected) {
    // add some colors to default settings
    DatePickerRangeStyles styles = DatePickerRangeStyles(
      selectedPeriodLastDecoration: BoxDecoration(
          color: Colors.red,

[2021-09-30 14:47] MariaMelnik commented on #66
@itsdani121 could you post error what you got?

[2021-09-30 15:04] itsdani121 commented on #66
When i select monthpicker it sjow that it is not a function something like that pass a prefix bcz flutter material has also monthpicker which already deprecated something like that

[2021-09-30 16:49] MariaMelnik commented on #66
Please, look at example: https://github.com/MariaMelnik/flutter_date_pickers/blob/master/example/lib/date_pickers_widgets/month_picker_page.dart

Flutter itself has MonthPicker class so you need to import month picker from this package with the prefix. Example:
`import 'package:flutter_date_pickers/flutter_date_pickers.dart' as dp;`

and use like:
`dp.MonthPicker(...)`

[2021-09-30 16:49] #66 closed

[2021-09-30 16:52] itsdani121 commented on #66
What about othera who are attached as it is without as called

[2021-09-30 17:43] MariaMelnik commented on #66
Check example please

[2021-10-09 09:47] MariaMelnik commented on #64
@RapegnoAndrea from version 0.2.5 you can set dayHeaderTitleBuilder to styles (`DatePickerStyles.dayHeaderTitleBuilder`) to customize titles.
You can check `day_picker_page.dart` in `example` to look at usage.

Don't forget update version in dependencies
[code]

Here is the day picker from example with customized weekday titles
<img width="319" alt="example" src="https://user-images.githubusercont

[2021-10-09 09:47] #64 closed

[2021-10-15 10:12] WieFel opened #70 "MonthPicker dispose() doesn't cancel _timer"
The timer which is started in the `MonthPicker` widget is never cancelled, so it runs indefinitely, also once the widget is disposed.

I found out about the error, when doing a widget test for my month picker.
It always fails with the error:
[code]

[2021-10-16 17:56] #70 closed

[2021-10-23 06:40] RohanSengupta326 opened #73 "Migrate to V2 embedding"
This app is using a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to migrate this app to the V2 embedding.

docs for migrating an app: https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects

[2021-10-25 16:56] #73 closed, assigned to nobody

[2021-10-26 13:13] jayachandra572 opened #75 "how can i change the week names ?"
@MariaMelnik
able to modify week names like Mon,Tue,Wed, etc.

![date](https://user-images.githubusercontent.com/59283888/138885896-26f388a8-e0ac-450d-b3a0-0c5f5980c039.png)

[2021-10-26 13:33] #75 closed, assigned to nobody

[2021-10-26 13:35] jayachandra572 opened #76 "Can you update types in DatePickerRangeStyles class"
1. dayHeaderTitleBuilder
2. dayHeaderStyleBuilder

above these two are set dynamic, better to define type? it's hard to identify whether need to return the widget or else.

[2021-11-04 08:38] benjdero commented on #38
Would greatly appreciate this. In my app an user is able to pick either a day, a week, a month or a year, and it's kinda annoying having to work with a separate custom widget just for the year picker.

[2021-11-04 10:11] MariaMelnik commented on #62
@AlbertoYabeda sorry for delay. I believe this should be more generic solution. Maybe user would like to set special decoration not only for weekdays. For example some government services may have not working day at Wednesday. Thank you for your impact anyway!

[2021-11-18 08:20] iChicago opened #77 "RTL date range is not shown correctly"
Hello,

Date range is not shown correctly in RTL languages.
Border corners should be inverted.

![image](https://user-images.githubusercontent.com/23649369/142378187-45db7302-eca7-470e-98d4-53e992ba0aa2.png)

[2021-11-18 17:00] #77 closed

[2021-11-21 00:36] stx opened #79 "Incorrect dates selected during Daylight Savings Time"
Thanks for your work on this excellent package.

Local device PST.

In the screenshot below, tapping March 14, 15, 16, 17, 18 or 19 incorrectly returns a DatePeriod starting a day early, from 2022-03-12 00:00:00.000 to 2022-03-19 23:59:59.999.

Tapping March 13 correctly returns 2022-03-13 00:00:00.000 - 2022-03-19 23:59:59.999.

![ss](https://user-images.githubusercontent.com/1284134/142744885-16

[2021-11-21 19:02] MariaMelnik commented on #79
@stx thank you for posting this issue! It should be fixed in 0.2.7 version.

Feel free to reopen if something looks incorrect with new version as well.

[2021-11-21 19:02] #79 closed

[2021-11-25 19:41] #76 closed

[2021-12-14 03:09] pokemonni01 opened #80 "Period title customize"
Can I customize the period title to show only month name or show year in BC for Thai calendar.

[2021-12-15 19:17] MariaMelnik commented on #80
@pokemonni01 currently customization for period title is not supported. You can castomize day headers only.
But title is going from localized month. Maybe you can add Thai locale to supported locales and get expected result.

[2021-12-16 05:55] pokemonni01 commented on #80
I hav tried with Thai locale and got months in Thai but for the year is 2021. My expectation is to show the year in BC eg. 2564, if AD year is 2021

[2021-12-16 14:41] juju-ba opened #81 "Change space between title (month) and the week days"
Hi,

is it possible to change the space like in the picture?

<img width="334" alt="Bildschirmfoto 2021-12-16 um 15 38 45" src="https://user-images.githubusercontent.com/58769218/146392347-871488aa-b918-4ab9-99ba-9b051779bf94.png">
)

[2021-12-23 13:04] RizaldiWiratama opened #82 "Styles for end of the prev month and start of the next month"
Hey @MariaMelnik thankyou for this great package 👍

when setting
[code]
is there any way to change style for end of the prev month and start of the next month?

i'm looking forward workaround for that case, thankyou

[2021-12-23 20:46] MariaMelnik commented on #82
@RizaldiWiratama currently there is no customization for such type of dates.
Could you share your use case? Maybe I will implement customization for it.
If you would like to implement it by yourself feel free to make PR.

[2021-12-24 01:28] RizaldiWiratama commented on #82
Hey @MariaMelnik  thanks for your answer :)

my use case is implement some mockup like this
![image](https://user-images.githubusercontent.com/23089248/147304504-c504a038-c3cd-4346-938f-a5f412cd76ca.png)

do you have any suggestions to how we can achieve this ?

[2021-12-24 01:31] RizaldiWiratama commented on #82
recently i read about param `eventDecorationBuilder` but still not implement it, is that related for this case?

if not , i want to implement this param for start and end selected range date, so there will be circle and still have that decoration, can we achieve that by this param?

[2021-12-24 17:42] MariaMelnik commented on #82
@RizaldiWiratama it is possible to do achieve with `eventDecorationBuilder` but it is not so efficient. Because you need to track selected month by yourself to make correct callback that depends from visible month.

I made proof of concept. You can change `day_picker_page.dart` in example folder with next snippet and run example.
[code]

[2021-12-24 17:43] MariaMelnik commented on #82
Result:
<img width="356" alt="Screenshot 2021-12-24 at 09 42 15" src="https://user-images.githubusercontent.com/20188655/147367440-32f3931a-4038-4fe9-ae7b-59d374c2b360.png">

Same ides you can use for range picker as well.

[2021-12-25 11:02] kelegorm opened #83 "Add support for new Theme changes"
`accentColor` and other stuff is deprecated in Flutter. Can you update app to get colors from new theme properties?

Instead `theme.accentColor` that could be `theme.colorScheme.secondary`.

You can read more about that [here](https://docs.flutter.dev/release/breaking-changes/theme-data-accent-properties#migration-guide).

Thank you!

[2021-12-26 14:54] RizaldiWiratama commented on #82
thanks @MariaMelnik i will try it :)

[2021-12-27 01:32] RizaldiWiratama commented on #82
it works thankyou @MariaMelnik
![image](https://user-images.githubusercontent.com/23089248/147425511-e5e05d6d-1639-414e-ade4-8c3023d1e241.png)

[2021-12-27 01:32] #82 closed

[2021-12-27 01:52] RizaldiWiratama opened #84 "First and last selected day style"
hey @MariaMelnik thankyou for your answer in last issue, it works
but i want to implement something like this mockup for first and last selected day style
![image](https://user-images.githubusercontent.com/23089248/147425852-fd1fb6a1-217d-4b60-be95-c0f3e95a2b08.png)

my current implementation is like this

[code]
result :
![image](https://user-images.githubusercontent.com/23089248/147425948-89a7f5

[2021-12-27 21:25] MariaMelnik commented on #84
@RizaldiWiratama you can try idea that was described here: https://github.com/MariaMelnik/flutter_date_pickers/issues/49

[2021-12-28 02:58] RizaldiWiratama commented on #84
thanks @MariaMelnik i will try it :)

[2021-12-28 04:58] RizaldiWiratama commented on #84
thankyou @MariaMelnik it works !

[2021-12-28 04:58] #84 closed

[2022-01-08 22:39] david-jim opened #85 "In MonthPicker, change the names of the displayed month"
Month selector, is it possible to change the names of the displayed month? I have changed the locale to Spanish but I want to put without dot and with capitalice.
![Captura](https://user-images.githubusercontent.com/85828583/148662287-8dbdd5da-5bba-4dce-83ba-e8d6e2accbc3.PNG)

[2022-01-10 21:26] sydev opened #86 "MonthPicker: The newly selected month is not highlighted"
When I open the MonthPicker, the selected month is highlighted in blue (screenshot 1).

![Bildschirmfoto 2022-01-10 um 22 23 37](https://user-images.githubusercontent.com/11978927/148841602-07bfac5c-9a63-42a4-b8c1-beb93853c14b.png)

But when I select another month, the old month remains selected. But in background, the new month is selected (screenshot 2).

![Bildschirmfoto 2022-01-10 um 22 18 35]

[2022-01-11 22:32] marinkobabic opened #87 "month is not disabled"
if the month is started with

firstDate: 2021-01-11 00:00:00.000
lastDate: 2022-01-11 23:59:59.999

then February 2022 is not disabled, but it should be

https://github.com/MariaMelnik/flutter_date_pickers/blob/master/lib/src/i_selectable_picker.dart#L610

by removing + 1 in the line above all works fine

[2022-01-12 20:35] MariaMelnik commented on #86
@sydev when setState is called from `_onSelectedDateChanged ` it only affect widget where it was called from. But not dialog. You need to create own dialog and call setState from there.

[2022-01-12 20:38] MariaMelnik commented on #85
@david-jim currently only display names from locale are available.

[2022-01-12 21:09] MariaMelnik commented on #83
@kelegorm thank you for posting this issue. It is fixed in version 0.2.8.

[2022-01-12 21:09] MariaMelnik commented on #83
@kelegorm thank you for posting this issue. It is fixed in version 0.2.8.

[2022-01-12 21:09] #83 closed

[2022-01-12 21:11] MariaMelnik commented on #87
@marinkobabic thank you for posting this issue.
It should be fixed in version 0.2.8.

Don't hesitate to reopen issue if something is wrong in new version as well.

[2022-01-12 21:11] #87 closed

[2022-01-26 06:58] ousvat opened #88 "Row spacing"
Is there a way to add some space between days raws?

[2022-02-13 14:40] MariaMelnik commented on #88
@ousvat There is not special setting for the space between rows. But you can use `DatePickerLayoutSettings.dayPickerRowHeight` to set row height.

[2022-03-30 07:15] shaunhossain opened #91 "can't excess DayPicker or RangePicker"
can't find DayPicker widget .

'DayPicker' isn't a function. (Documentation)  Try correcting the name to match an existing function, or define a method or function named 'DayPicker'.
The name 'DayPicker' is defined in the libraries 'package:flutter/src/material/date_picker_deprecated.dart (via package:flutter/material.dart)' and 'package:flutter_date_pickers/src/day_picker.dart (via package:flutte

[2022-03-31 15:05] ma-ruz opened #92 "Please add a TextStyle for dates outside the selected month"
When showNextMonthStart and/or showPrevMonthEnd are turned on, it would be fine to be able to display the added days in a different TextStyle. Please add it to DatePickerStyles.

[2022-03-31 15:39] ma-ruz commented on #92
I solved it by using an eventDecorationBuilder which compares the date with the selected month which I have to store in onMonthChanged which needs the widget to be rebuilt (to apply the colors after switching the month) but I hope this is just a temporary solution as it can be much more easily implemented in the library.

[2022-05-17 11:20] th0rgall opened #93 "Make this package compatible with Flutter 3.0.0"
This line causes a build warning:
https://github.com/MariaMelnik/flutter_date_pickers/blob/e973c7d6b88b645413958a7f718e7d51fa26639d/lib/src/day_based_changable_picker.dart#L318

See the release notes for a suggested fix: https://docs.flutter.dev/development/tools/sdk/release-notes/release-notes-3.0.0#if-you-see-warnings-about-bindings

[2022-05-19 21:38] MariaMelnik commented on #93
@th0rgall thank you for posting it! Will update soon.

[2022-05-22 21:02] MariaMelnik commented on #93
@th0rgall you can now use 0.3.1 version to avoid warning.
 I am closing issue but feel free to reopen it if something is incorrect.

[2022-05-22 21:02] #93 closed

[2022-05-25 10:39] th0rgall commented on #93
Thank you!

[2022-07-11 10:52] aitinsan opened #98 "How can I use localization here? for some other languages"

[2022-07-17 15:10] MariaMelnik commented on #98
@aitinsan you should add locale to supported locales. See example: https://github.com/MariaMelnik/flutter_date_pickers/blob/master/example/lib/main.dart#L28

[2022-07-28 19:32] #98 closed

[2022-08-21 13:35] jalvespinto opened #99 "Allow empty selection for year_picker_selection, just like there is for month_picker_selection"
I see that for the months selection it is ok to have an empty selection, but I get an error if no year is selected for the 'years' page. Also, it would be nice to have the current year highlighted, like there is for 'months' page.

[2022-08-24 10:58] iChicago opened #100 "RangePicker should not enforce first range selection"
**Problem**
When adding a RangePicker, it enforces us to add "selectedPeriod".

**Suggested behavior:**
It should allow us to add null value for "selectedPeriod" so the user can select a desired period

[2022-08-26 20:10] MariaMelnik commented on #99
thank you for the opening issue! I agree this functionality should be available for year picker too. Will add soon

[2022-08-26 20:11] MariaMelnik commented on #100
thank you for the opening issue! Will try to make changes soon

[2022-10-04 12:57] champ96k commented on #99
Hey @MariaMelnik,

looks good to me! can you please assign me? Thanks

[2022-10-09 15:12] DHRUVA-N-L-CHOUDHARY commented on #81
Yes it is possible I have added space between them.
You can have a check over the code through my GitHub link.

GitHub link: - https://github.com/MariaMelnik/flutter_date_pickers/pull/101

For reference  I have attached the document below too:-
![WhatsApp Image 2022-10-06 at 2 04 26 PM](https://user-images.githubusercontent.com/96297602/194764545-99476933-2f66-4b2f-ace1-3c5f45838e6f.jpeg)

[2022-10-09 17:24] MariaMelnik commented on #99
@champ96k hi, you can do it and open PR.

[2022-10-12 03:11] beheobong commented on #62
https://github.com/MariaMelnik/flutter_date_pickers/pull/102 . I add new styles for weekend. You can check it